@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    margin: auto 7vw;
}

h1 {
    color: #901C1C;
}

.logo {
    height: 50px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 80px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Added a tag alignment, decoration */

.photographer_section article a {
    text-align: center;
    text-decoration: none;
}

.photographer_section article img {
    border-radius: 50%;
    object-fit: cover;
    height: 200px;
    width: 200px;
}

.user {
    height: 200px;
    width: 200px;
    background: #c4c4c4;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  }
  

/* Adjust titles, paragraphes and span based on the mockups */

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    margin: 0.8rem auto 0.5rem;
}

.photographer_section article h3 {
    color: #901C1C;
    font-size: 17px;
    margin:  auto;
}

.photographer_section p {
    margin: auto;
}

.photographer_section span {
    color: #525252;
    font-size: 15px;
}